//! **************************************************************************
// Written by: Map P.20131013 on Wed May 01 19:20:31 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "sw1" LOCATE = SITE "A7" LEVEL 1;
COMP "outedge" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

